<h1 class="stylePost">All Posts <span style='font-size:50px;'>&#128522;</span></h1>


<table class='table table-bordered'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        File
      </th>
      <th>
        Title
      </th>
      <th>
        Status
      </th>
      <th>Category</th>
      <th>
        Allow Comments
      </th>
      <th>Date</th>
      <th>View Post</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>
          {{id}}
        </td>
        <td><img height="50px" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
        <td>
          {{title}}
        </td>
        <td>
          {{status}}
        </td>
        <td>{{category.name}}</td>
        <td>
          {{allowComments}}
        </td>
        <td>
          {{generateDate date 'MMMM Do YYYY'}}
        </td>
        <td><a href="/post/{{id}}">View</a></td>
       
      </tr>
    {{/each}}
  </tbody>
</table>