<h1>All Posts</h1>


{{>home/form-msgs}}





<table class='table table-bordered'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        File
      </th>
      <th>
        Title
      </th>
      <th>
        Status
      </th>
      <th>
        Allow Comments
      </th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>
          {{id}}
        </td>
        <td><img height="50px" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
        <td>
          {{title}}
        </td>
        <td>
          {{status}}
        </td>
        <td>
          {{allowComments}}
        </td>
        <td>
          <a href="/admin/posts/edit/{{id}}" class='btn btn-info'>
            Edit
          </a>
        </td>
         <td>
          
             <form action="/admin/posts/{{id}}?_method=DELETE" method="post">

                <button type="submit" class="btn btn-danger">Delete</button>
             </form>



        </td>
      </tr>
    {{/each}}
  </tbody>
</table>