<h1 class="stylePost">My Posts <span style='font-size:50px;'>&#128526;</span></h1>


<table class='table table-bordered'>
  <thead>
    <tr>
      <th>
        Id
      </th>
      <th>
        File
      </th>
      <th>
        Title
      </th>
      <th>
        Status
      </th>
      <th>Category</th>
      <th>
        Allow Comments
      </th>
      <th>Date</th>
      <th>View Post</th>
    </tr>
  </thead>
  <tbody>
    {{#each posts}}
      <tr>
        <td>
          {{id}}
        </td>
        <td><img height="50px" class="img-responsive" src="/uploads/{{file}}" alt=""></td>
        <td>
          {{title}}
        </td>
        <td>
          {{status}}
        </td>
        <td>{{category.name}}</td>
        <td>
          {{allowComments}}
        </td>
        <td>
          {{generateDate date 'MMMM Do YYYY'}}
        </td>
        <td><a href="/post/{{id}}">View</a></td>
        <td>
          <a href="/admin/posts/edit/{{id}}" class='btn btn-info'>
            Edit
          </a>
        </td>
         <td>
          
             <form action="/admin/posts/{{id}}?_method=DELETE" method="post">

                <button type="submit" class="btn btn-danger">Delete</button>
             </form>



        </td>
      </tr>
    {{/each}}
  </tbody>
</table>