    <div class="row">

        
        <div class="col-lg-8">

          
          <h1 class="mt-4">{{post.title}}</h1>

     
          <p class="lead">
            by
            <a href="#">Start Bootstrap</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{generateDate date "MMMM Do YYYY"}}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="/uploads/{{post.file}}" alt="">

          <hr>

          <!-- Post Content -->
           <p class="lead">{{post.body}}</p>

          <hr>

       {{#if user}}

        {{#if post.allowComments}}
          <!-- Comments Form -->
          <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
              <form action="/admin/comments" method="post">
                <div class="form-group">
                  <textarea name="body" class="form-control" rows="3"></textarea>
                  <input type="hidden" name="id" value="{{post.id}}">
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          {{else}}
          <h3 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Comments are not allowed for this post</h3>
          <br>
          <hr>

          {{/if}}

       {{else}}
              
          <h4 style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">You need to <a href="/login">login</a> to comment</h4>
          <br>
          <hr>
       {{/if}}



       {{#each post.comments}}

          <!-- Single Comment -->
          <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">{{user.firstName}} {{user.lastName}}</h5>
              
              {{body}}

            </div>
          </div>

       {{/each}}




          <!-- Comment with nested comments -->
          {{!-- <div class="media mb-4">
            <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
            <div class="media-body">
              <h5 class="mt-0">Commenter Name</h5>
              Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>

              <div class="media mt-4">
                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                <div class="media-body">
                  <h5 class="mt-0">Commenter Name</h5>
                  Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                </div>
              </div>

            </div>
          </div> --}}

        </div>

         {{>home/sidebar}}
       
      </div>
      <!-- /.row -->