
<h1 style="font-family: cursive;text-align:center;font-weight:bold; margin-bottom:50px;">Comments</h1>

<table class="table">
  <thead>
    <tr>
      <th>id</th>
      <th>Owner</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
      
    {{#each comments}}

    <tr>
      <td>{{id}}</td>
      <td>{{user.firstName}} {{user.lastName}}</td>
      <td>{{generateDate date 'MMMM Do YYYY'}}</td>
      <td>
         <form action="/admin/comments/{{id}}?_method=DELETE" method="post"> 
           
               <button type="submit" class="btn btn-danger">Delete</button>
         </form>

      </td>
    </tr> 

    {{/each}}
  </tbody>
</table>